.bg-neutral-100 {
   background-color: $my-neutral-100 !important;
}
.bg-neutral-90 {
   background-color: $my-neutral-90 !important;
}
.bg-neutral-80 {
   background-color: $my-neutral-80 !important;
}
.bg-neutral-70 {
   background-color: $my-neutral-70 !important;
}
.bg-neutral-60 {
   background-color: $my-neutral-60 !important;
}
.bg-neutral-50 {
   background-color: $my-neutral-50 !important;
}
.bg-neutral-40 {
   background-color: $my-neutral-40 !important;
}
.bg-neutral-30 {
   background-color: $my-neutral-30 !important;
}
.bg-neutral-20 {
   background-color: $my-neutral-20 !important;
}
.bg-neutral-10 {
   background-color: $my-neutral-10 !important;
}

.bg-primary-main {
   background-color: $my-primary-main !important;
}
.bg-primary-surface {
   background-color: $my-primary-surface !important;
}
.bg-primary-border {
   background-color: $my-primary-border !important;
}
.bg-primary-hover {
   background-color: $my-primary-hover !important;
}
.bg-primary-pressed {
   background-color: $my-primary-pressed !important;
}
.bg-primary-focus {
   background-color: $my-primary-focus !important;
}

.bg-success-main {
   background-color: $my-success-main !important;
}
.bg-success-surface {
   background-color: $my-success-surface !important;
}
.bg-success-border {
   background-color: $my-success-border !important;
}
.bg-success-hover {
   background-color: $my-success-hover !important;
}
.bg-success-pressed {
   background-color: $my-success-pressed !important;
}
.bg-success-focus {
   background-color: $my-success-focus !important;
}

.bg-danger-main {
   background-color: $my-danger-main !important;
}
.bg-danger-surface {
   background-color: $my-danger-surface !important;
}
.bg-danger-border {
   background-color: $my-danger-border !important;
}
.bg-danger-hover {
   background-color: $my-danger-hover !important;
}
.bg-danger-pressed {
   background-color: $my-danger-pressed !important;
}
.bg-danger-focus {
   background-color: $my-danger-focus !important;
}

.bg-warning-main {
   background-color: $my-warning-main !important;
}
.bg-warning-surface {
   background-color: $my-warning-surface !important;
}
.bg-warning-border {
   background-color: $my-warning-border !important;
}
.bg-warning-hover {
   background-color: $my-warning-hover !important;
}
.bg-warning-pressed {
   background-color: $my-warning-pressed !important;
}
.bg-warning-focus {
   background-color: $my-warning-focus !important;
}

.bg-info-main {
   background-color: $my-info-main !important;
}
.bg-info-surface {
   background-color: $my-info-surface !important;
}
.bg-info-border {
   background-color: $my-info-border !important;
}
.bg-info-hover {
   background-color: $my-info-hover !important;
}
.bg-info-pressed {
   background-color: $my-info-pressed !important;
}
.bg-info-focus {
   background-color: $my-info-focus !important;
}

.bg-dark-main {
   background-color: $my-dark-main !important;
}
.bg-dark-surface {
   background-color: $my-dark-surface !important;
}
.bg-dark-border {
   background-color: $my-dark-border !important;
}
.bg-dark-hover {
   background-color: $my-dark-hover !important;
}
.bg-dark-pressed {
   background-color: $my-dark-pressed !important;
}
.bg-dark-focus {
   background-color: $my-dark-focus !important;
}

// Text Color
.text-neutral-100 {
   color: $my-neutral-100 !important;
}
.text-neutral-90 {
   color: $my-neutral-90 !important;
}
.text-neutral-80 {
   color: $my-neutral-80 !important;
}
.text-neutral-70 {
   color: $my-neutral-70 !important;
}
.text-neutral-60 {
   color: $my-neutral-60 !important;
}
.text-neutral-50 {
   color: $my-neutral-50 !important;
}
.text-neutral-40 {
   color: $my-neutral-40 !important;
}
.text-neutral-30 {
   color: $my-neutral-30 !important;
}
.text-neutral-20 {
   color: $my-neutral-20 !important;
}
.text-neutral-10 {
   color: $my-neutral-10 !important;
}
.text-primary-main {
   color: $my-primary-main !important;
}
.text-primary-surface {
   color: $my-primary-surface !important;
}
.text-primary-border {
   color: $my-primary-border !important;
}
.text-primary-hover {
   color: $my-primary-hover !important;
}
.text-primary-pressed {
   color: $my-primary-pressed !important;
}
.text-primary-focus {
   color: $my-primary-focus !important;
}

.text-success-main {
   color: $my-success-main !important;
}
.text-success-surface {
   color: $my-success-surface !important;
}
.text-success-border {
   color: $my-success-border !important;
}
.text-success-hover {
   color: $my-success-hover !important;
}
.text-success-pressed {
   color: $my-success-pressed !important;
}
.text-success-focus {
   color: $my-success-focus !important;
}

.text-danger-main {
   color: $my-danger-main !important;
}
.text-danger-surface {
   color: $my-danger-surface !important;
}
.text-danger-border {
   color: $my-danger-border !important;
}
.text-danger-hover {
   color: $my-danger-hover !important;
}
.text-danger-pressed {
   color: $my-danger-pressed !important;
}
.text-danger-focus {
   color: $my-danger-focus !important;
}

.text-warning-main {
   color: $my-warning-main !important;
}
.text-warning-surface {
   color: $my-warning-surface !important;
}
.text-warning-border {
   color: $my-warning-border !important;
}
.text-warning-hover {
   color: $my-warning-hover !important;
}
.text-warning-pressed {
   color: $my-warning-pressed !important;
}
.text-warning-focus {
   color: $my-warning-focus !important;
}

.text-info-main {
   color: $my-info-main !important;
}
.text-info-surface {
   color: $my-info-surface !important;
}
.text-info-border {
   color: $my-info-border !important;
}
.text-info-hover {
   color: $my-info-hover !important;
}
.text-info-pressed {
   color: $my-info-pressed !important;
}
.text-info-focus {
   color: $my-info-focus !important;
}

.text-dark-main {
   color: $my-dark-main !important;
}
.text-dark-surface {
   color: $my-dark-surface !important;
}
.text-dark-border {
   color: $my-dark-border !important;
}
.text-dark-hover {
   color: $my-dark-hover !important;
}
.text-dark-pressed {
   color: $my-dark-pressed !important;
}
.text-dark-focus {
   color: $my-dark-focus !important;
}



// Typografi
.text-l-regular {
   font: $my-text-l-regular !important;
}
.text-l-medium {
   font: $my-text-l-medium !important;
}
.text-m-regular {
   font: $my-text-m-regular !important;
}
.text-m-medium {
   font: $my-text-m-medium !important;
}
.text-s-regular {
   font: $my-text-s-regular !important;
}
.text-s-medium {
   font: $my-text-s-medium !important;
}

.header-m {
   font: $my-header-m !important;
}

.header-s {
   font: $my-header-s !important;
}

.header-l {
   font: $my-header-l !important;
}

.x-border {
   border-right: 1px solid $my-neutral-50 !important;
   border-left: 1px solid $my-neutral-50 !important;
}

.y-border {
   border-bottom: 1px solid $my-neutral-50 !important;
   border-top: 1px solid $my-neutral-50 !important;
}

.border-neutral-100-1 {
   border: 1px solid $my-neutral-100 !important;
}
.border-neutral-90-1 {
   border: 1px solid $my-neutral-90 !important;
}
.border-neutral-80-1 {
   border: 1px solid $my-neutral-80 !important;
}
.border-neutral-70-1 {
   border: 1px solid $my-neutral-70 !important;
}
.border-neutral-60-1 {
   border: 1px solid $my-neutral-60 !important;
}
.border-neutral-50-1 {
   border: 1px solid $my-neutral-50 !important;
}
.border-neutral-40-1 {
   border: 1px solid $my-neutral-40 !important;
}
.border-neutral-30-1 {
   border: 1px solid $my-neutral-30 !important;
}
.border-neutral-20-1 {
   border: 1px solid $my-neutral-20 !important;
}
.border-neutral-10-1 {
   border: 1px solid $my-neutral-10 !important;
}

.border-neutral-100-2 {
   border: 2px solid $my-neutral-100 !important;
}
.border-neutral-90-2 {
   border: 2px solid $my-neutral-90 !important;
}
.border-neutral-80-2 {
   border: 2px solid $my-neutral-80 !important;
}
.border-neutral-70-2 {
   border: 2px solid $my-neutral-70 !important;
}
.border-neutral-60-2 {
   border: 2px solid $my-neutral-60 !important;
}
.border-neutral-50-2 {
   border: 2px solid $my-neutral-50 !important;
}
.border-neutral-40-2 {
   border: 2px solid $my-neutral-40 !important;
}
.border-neutral-30-2 {
   border: 2px solid $my-neutral-30 !important;
}
.border-neutral-20-2 {
   border: 2px solid $my-neutral-20 !important;
}
.border-neutral-10-2 {
   border: 2px solid $my-neutral-10 !important;
}

.input-form, textarea, input, .text-area-form, .select-form, {
   &.placeholder-s-r::placeholder{
      font: $my-text-s-regular !important;
   }
   &.placeholder-s-m::placeholder{
      font: $my-text-s-medium !important;
   }
   &.placeholder-m-r::placeholder{
      font: $my-text-m-regular !important;
   }
   &.placeholder-m-m::placeholder{
      font: $my-text-m-medium !important;
   }
   &.placeholder-l-r::placeholder{
      font: $my-text-l-regular !important;
   }
   &.placeholder-l-m::placeholder{
      font: $my-text-l-medium !important;
   }
}

.hover-n-40 {
   transition: .2s !important;

   &:hover {
      background-color: $my-neutral-40 !important;
      border-radius: 10px !important;
   }
}

.inner-shadow {
   @include shadow-inner;
}

.mh-md {
  min-height: 150px !important;
}
.mh-lg {
  min-height: 250px !important;
}
.mh-xl {
  min-height: 350px !important;
}