.text-neutral-100 {
    color: $my-neutral-100;
 }
 .text-neutral-90 {
    color: $my-neutral-90;
 }
 .text-neutral-80 {
    color: $my-neutral-80;
 }
 .text-neutral-70 {
    color: $my-neutral-70;
 }
 .text-neutral-60 {
    color: $my-neutral-60;
 }
 .text-neutral-50 {
    color: $my-neutral-50;
 }
 .text-neutral-40 {
    color: $my-neutral-40;
 }
 .text-neutral-30 {
    color: $my-neutral-30;
 }
 .text-neutral-20 {
    color: $my-neutral-20;
 }
 .text-neutral-10 {
    color: $my-neutral-10;
 }
 
 .text-l-regular {
    font: $my-text-l-regular;
 }
 .text-l-medium {
    font: $my-text-l-medium;
 }
 .text-m-regular {
    font: $my-text-m-regular;
 }
 .text-m-medium {
    font: $my-text-m-medium;
 }
 .text-s-regular {
    font: $my-text-s-regular;
 }
 .text-s-medium {
    font: $my-text-s-medium;
 }
 
 .header-m {
    font: $my-header-m;
 }
 
 .header-s {
    font: $my-header-s;
 }
 
 .header-l {
    font: $my-header-l;
 }

 .x-border {
   border-left: 1px solid $my-neutral-50;
   border-right: 1px solid $my-neutral-50;
 }

 .y-border {
   border-top: 1px solid $my-neutral-50;
   border-bottom: 1px solid $my-neutral-50;
 }