.bg-neutral-100 {
   background-color: $my-neutral-100;
}
.bg-neutral-90 {
   background-color: $my-neutral-90;
}
.bg-neutral-80 {
   background-color: $my-neutral-80;
}
.bg-neutral-70 {
   background-color: $my-neutral-70;
}
.bg-neutral-60 {
   background-color: $my-neutral-60;
}
.bg-neutral-50 {
   background-color: $my-neutral-50;
}
.bg-neutral-40 {
   background-color: $my-neutral-40;
}
.bg-neutral-30 {
   background-color: $my-neutral-30;
}
.bg-neutral-20 {
   background-color: $my-neutral-20;
}
.bg-neutral-10 {
   background-color: $my-neutral-10;
}

.text-neutral-100 {
   color: $my-neutral-100;
}
.text-neutral-90 {
   color: $my-neutral-90;
}
.text-neutral-80 {
   color: $my-neutral-80;
}
.text-neutral-70 {
   color: $my-neutral-70;
}
.text-neutral-60 {
   color: $my-neutral-60;
}
.text-neutral-50 {
   color: $my-neutral-50;
}
.text-neutral-40 {
   color: $my-neutral-40;
}
.text-neutral-30 {
   color: $my-neutral-30;
}
.text-neutral-20 {
   color: $my-neutral-20;
}
.text-neutral-10 {
   color: $my-neutral-10;
}

.text-l-regular {
   font: $my-text-l-regular;
}
.text-l-medium {
   font: $my-text-l-medium;
}
.text-m-regular {
   font: $my-text-m-regular;
}
.text-m-medium {
   font: $my-text-m-medium;
}
.text-s-regular {
   font: $my-text-s-regular;
}
.text-s-medium {
   font: $my-text-s-medium;
}

.header-m {
   font: $my-header-m;
}

.header-s {
   font: $my-header-s;
}

.header-l {
   font: $my-header-l;
}

.x-border {
   border-right: 1px solid $my-neutral-50;
   border-left: 1px solid $my-neutral-50;
}

.y-border {
   border-bottom: 1px solid $my-neutral-50;
   border-top: 1px solid $my-neutral-50;
}

.border-neutral-100-1 {
   border: 1px solid $my-neutral-100;
}
.border-neutral-90-1 {
   border: 1px solid $my-neutral-90;
}
.border-neutral-80-1 {
   border: 1px solid $my-neutral-80;
}
.border-neutral-70-1 {
   border: 1px solid $my-neutral-70;
}
.border-neutral-60-1 {
   border: 1px solid $my-neutral-60;
}
.border-neutral-50-1 {
   border: 1px solid $my-neutral-50;
}
.border-neutral-40-1 {
   border: 1px solid $my-neutral-40;
}
.border-neutral-30-1 {
   border: 1px solid $my-neutral-30;
}
.border-neutral-20-1 {
   border: 1px solid $my-neutral-20;
}
.border-neutral-10-1 {
   border: 1px solid $my-neutral-10;
}

.border-neutral-100-2 {
   border: 2px solid $my-neutral-100;
}
.border-neutral-90-2 {
   border: 2px solid $my-neutral-90;
}
.border-neutral-80-2 {
   border: 2px solid $my-neutral-80;
}
.border-neutral-70-2 {
   border: 2px solid $my-neutral-70;
}
.border-neutral-60-2 {
   border: 2px solid $my-neutral-60;
}
.border-neutral-50-2 {
   border: 2px solid $my-neutral-50;
}
.border-neutral-40-2 {
   border: 2px solid $my-neutral-40;
}
.border-neutral-30-2 {
   border: 2px solid $my-neutral-30;
}
.border-neutral-20-2 {
   border: 2px solid $my-neutral-20;
}
.border-neutral-10-2 {
   border: 2px solid $my-neutral-10;
}

.input-form {
   &.placeholder-s-r::placeholder{
      font: $my-text-s-regular;
   }
   &.placeholder-s-m::placeholder{
      font: $my-text-s-medium;
   }
   &.placeholder-m-r::placeholder{
      font: $my-text-m-regular;
   }
   &.placeholder-m-m::placeholder{
      font: $my-text-m-medium;
   }
   &.placeholder-l-r::placeholder{
      font: $my-text-l-regular;
   }
   &.placeholder-l-m::placeholder{
      font: $my-text-l-medium;
   }
}