$my-neutral-10: #FFFFFF;
$my-neutral-20: #F5F5F5;
$my-neutral-30: #EDEDED;
$my-neutral-40: #E0E0E0;
$my-neutral-50: #C2C2C2;
$my-neutral-60: #9E9E9E;
$my-neutral-70: #757575;
$my-neutral-80: #616161;
$my-neutral-90: #424242;
$my-neutral-100: #0A0A0A;

$my-primary-main: #4C4DDC;
$my-primary-surface: #DFE0F3;
$my-primary-border: #F5F5FF;
$my-primary-hover: #3334CC;
$my-primary-pressed: #21217A;
$my-primary-focus: #4C4DDC33;

$my-danger-main: #CB3A31;
$my-danger-surface: #FFF4F2;
$my-danger-border: #EEB4B0;
$my-danger-hover: #BD251C;
$my-danger-pressed: #731912;
$my-danger-focus: #CB3A3133;

$my-warning-main: #CD7B2E;
$my-warning-surface: #FFF9F2;
$my-warning-border: #EECEB0;
$my-warning-hover: #BF6919;
$my-warning-pressed: #734011;
$my-warning-focus: #CD7B2E33;

$my-success-main: #43936C;
$my-success-surface: #F7F7F7;
$my-success-border: #B8DBCA;
$my-success-hover: #367A59;
$my-success-pressed: #20573D;
$my-success-focus: #43936C33;

$my-info-main: #3267E3;
$my-info-surface: #F0F3FF;
$my-info-border: #B1C5F6;
$my-info-hover: #114CD6;
$my-info-pressed: #11317D;
$my-info-focus: #3267E333;

$my-dark-main: #424242;
$my-dark-surface: #C2C2C2;
$my-dark-border: #616161;
$my-dark-hover: #0A0A0ADD;
$my-dark-pressed: #0A0A0A;
$my-dark-focus: #42424233;

$my-shadow-1: 0 1px 2px #0000001f;
$my-shadow-2: 0 4px 8px #0000001a;
$my-shadow-3: inset 1px 2px 2px rgba(0, 0, 0, 0.08);

$my-shadow-input-group-text: inset -1px 2px 2px rgba(0, 0, 0, 0.08);
$my-border-invalid-input: #BD251C;


$my-header-s: 500 20px/28px 'Inter', sans-serif;
$my-header-m: 500 28px/36px 'Inter', sans-serif;
$my-header-l: 500 36px/44px 'Inter', sans-serif;
$my-text-s-regular: 400 12px/16px 'Inter', sans-serif;
$my-text-s-medium: 500 12px/16px 'Inter', sans-serif;
$my-text-m-regular: 400 14px/20px 'Inter', sans-serif;
$my-text-m-medium: 500 14px/20px 'Inter', sans-serif;
$my-text-l-regular: 400 16px/24px 'Inter', sans-serif;
$my-text-l-medium: 500 16px/24px 'Inter', sans-serif;