@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /*  Color Styles  */

    /* Neutral Color */
    --neutral-10: #FFFFFF;
    --neutral-20: #F5F5F5;
    --neutral-30: #EDEDED;
    --neutral-40: #E0E0E0;
    --neutral-50: #C2C2C2;
    --neutral-60: #9E9E9E;
    --neutral-70: #757575;
    --neutral-80: #616161;
    --neutral-90: #424242;
    --neutral-100: #0A0A0A;
    /* Primary Color */
    --primary-main: #4C4DDC;
    --primary-surface: #DFE0F3;
    --primary-border: #F5F5FF;
    --primary-hover: #3334CC;
    --primary-pressed: #21217A;
    --primary-focus: #4C4DDC33;
    /* Danger Color */
    --danger-main: #CB3A31;
    --danger-surface: #FFF4F2;
    --danger-border: #EEB4B0;
    --danger-hover: #BD251C;
    --danger-pressed: #731912;
    --danger-focus: #CB3A3133;
    /* Warning Color */
    --warning-main: #CD7B2E;
    --warning-surface: #FFF9F2;
    --warning-border: #EECEB0;
    --warning-hover: #BF6919;
    --warning-pressed: #734011;
    --warning-focus: #CD7B2E33;
    /* Success Color */
    --success-main: #43936C;
    --success-surface: #F7F7F7;
    --success-border: #B8DBCA;
    --success-hover: #367A59;
    --success-pressed: #20573D;
    --success-focus: #43936C33;
    /* Info Color */
    --info-main: #3267E3;
    --info-surface: #F0F3FF;
    --info-border: #B1C5F6;
    --info-hover: #114CD6;
    --info-pressed: #11317D;
    --info-focus: #3267E333;
    /*  Dark Color  */
    --dark-main: #424242;
    --dark-surface: #C2C2C2;
    --dark-border: #616161;
    --dark-hover: #0A0A0ADD;
    --dark-pressed: #0A0A0A;
    --dark-focus: #42424233;

    /* effect styles */
    --shadow-1: 0 1px 2px #0000001f;
    --shadow-2: 0 4px 8px #0000001a;
    --shadow-3: inset 1px 2px 2px rgba(0, 0, 0, 0.08);

    --shadow-input-group-text: inset -1px 2px 2px rgba(0, 0, 0, 0.08);
    --border-invalid-input: #BD251C;

    /* Text Styles */
    --header-s: 500 20px/28px 'Inter';
    --header-m: 500 28px/36px 'Inter';
    --header-l: 500 36px/44px 'Inter';
    --text-s-regular: 400 12px/16px 'Inter';
    --text-s-medium: 500 12px/16px 'Inter';
    --text-m-regular: 400 14px/20px 'Inter';
    --text-m-medium: 500 14px/20px 'Inter';
    --text-l-regular: 400 16px/24px 'Inter';
    --text-l-medium: 500 16px/24px 'Inter';
}

body {
    background: #ededed;
}
td {
    font-size: 12px;
}
a {
    text-decoration: none;
    transition: .3s;
}
.container {
    margin-top: 48px;
}
#navbarMenu .span {
    height: 24px;
    text-decoration: none;
    background: transparent;
    border: 1px solid var(--primary-hover);
    border-radius: 30px;
    padding: 10px;
    transition: .3s;
    color: var(--neutral-90);
}
#navbarMenu .span:hover {
    background: var(--primary-surface);
}

#navbarMenu .span i {
    font-size: 14px;
    transform: translateY(.5px);
    color: var(--neutral-90);
}

#navbarMenu .navbar-menu-focus {
    background: var(--primary-surface);
}

/*   Form Styles   */
.input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;

    width: 240px;
    height: 32px;
    border: 1px solid var(--neutral-50);

    /* Shadow 3 */
    box-shadow: var(--shadow-3);
    border-radius: 6px;
    transition: .03s;
    outline: none;
    color: var(--neutral-90);
}

.input-form::placeholder {
    color: var(--neutral-70);
    font: var(--text-s-medium);
}

.input-form:focus {
    outline: 3px solid var(--primary-focus);
}

.select-form {
    width: 70px;
    background-color: var(--neutral-10);
    border: 1px solid var(--neutral-40);
    border-radius: 6px;
    box-shadow: var(--shadow-1);
}

.group-form {
    display: flex;
    background-color: white;
    width: 100%;
}

.group-form .input-form {
    border-radius: 30px 0 0 30px;
    border-right: none;
    background-color: transparent;
}

.group-form .group-form-text {
    outline: none;
    border: none;
    border-right: 1px solid var(--neutral-50);
    border-bottom: 1px solid var(--neutral-50);
    border-top: 1px solid var(--neutral-50);
    width: 36px;
    border-radius: 0 30px 30px 0;
    box-shadow: var(--shadow-input-group-text);
    cursor: default;
    padding-right: 14px;
    display: flex;
    align-items: center;
    color: var(--neutral-90);
}

.group-form input[type="date"] {
    color: var(--neutral-90);
}

.group-form input[type="date"]:focus {
    color: var(--neutral-70);
}

.invalid-input {
    border: 1px solid var(--danger-hover);
    transition: .03s;
}
.invalid-input:focus {
    outline: 3px solid var(--danger-focus);
}


/*  button Styles  */
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 16px;
        gap: 4px;

        height: 32px;
        border-radius: 6px;
        box-shadow: var(--shadow-1);
        border: none;
        transition: .3s;
        cursor: default;
    }

    .button-primary {
        background-color: var(--primary-main);
    }
    .button-success {
        background-color: var(--success-main);
    }
    .button-warning {
        background-color: var(--warning-main);
    }
    .button-danger {
        background-color: var(--danger-main);
    }
    .button-info {
        background-color: var(--info-main);
    }
    .button-dark {
        background-color: var(--dark-main);
    }

    .button-primary:hover {
        background-color: var(--primary-hover);
    }
    .button-success:hover {
        background-color: var(--success-hover);
    }
    .button-warning:hover {
        background-color: var(--warning-hover);
    }
    .button-danger:hover {
        background-color: var(--danger-hover);
    }
    .button-info:hover {
        background-color: var(--info-hover);
    }
    .button-dark:hover {
        background-color: var(--dark-hover);
    }

    .button-primary:focus {
        background-color: var(--primary-hover);
    }
    .button-success:focus {
        background-color: var(--success-hover);
    }
    .button-warning:focus {
        background-color: var(--warning-hover);
    }
    .button-danger:focus {
        background-color: var(--danger-hover);
    }
    .button-info:focus {
        background-color: var(--info-hover);
    }
    .button-dark:focus {
        background-color: var(--neutral-60);
    }
/*   close   */
.btn-filter {
    border-radius: 30px; 
    width: 74px; 
    background-color: var(--primary-hover); 
    letter-spacing: .03em;
    box-shadow: var(--shadow-1);
}

.btn-filter:hover {
    background-color: var(--primary-main);
}

.btn-edit {
    width: 75px;
    height: 20px;
    background-color: #f7f7f7;
    font-size: 12px;
    border: 1px solid #b8dbca;
    color: #43936c;
    padding: 3px 8px;
    font-weight: 500; 
}

.btn-status {
    background: #F5F5FF; 
    border: 1px solid #B8DBCA; 
    padding: 3px 8px; 
    font-size: 12px; 
    line-height: 16px;
    font-weight: 500;
}

.btn-delete {
    width: 75px;
    height: 20px;
    background-color: #fff4f2;
    font-size: 12px;
    border: 1px solid #eeb4b0;
    color: #cb3a31;
    padding: 3px 8px;
    font-weight: 500;
}

.modal-add-title {
    font-size: 20px;
    text-align: center;
}

.btn-add-data {
    background-color: #3131a3;
}

.tags-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    height: 20px;
    border-radius: 6px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    height: 20px;
    border-radius: 6px;
}

.tags-primary {
    background-color: var(--primary-surface);
    border: 1px solid var(--primary-border);
}

.tags-danger {
    background-color: var(--danger-surface);
    border: 1px solid var(--danger-border);      
}

.tags-warning {
    background-color: var(--warning-surface);
    border: 1px solid var(--warning-border);      
}

.tags-info {
    background-color: var(--info-surface);
    border: 1px solid var(--info-border);      
}

.tags-success {
    background-color: var(--success-surface);
    border: 1px solid var(--success-border);      
}


.text-neutral-100 {
    color: var(--neutral-100);
}
.text-neutral-90 {
    color: var(--neutral-90);
}
.text-neutral-80 {
    color: var(--neutral-80);
}
.text-neutral-70 {
    color: var(--neutral-70);
}
.text-neutral-60 {
    color: var(--neutral-60);
}
.text-neutral-50 {
    color: var(--neutral-50);
}
.text-neutral-40 {
    color: var(--neutral-40);
}
.text-neutral-30 {
    color: var(--neutral-30);
}
.text-neutral-20 {
    color: var(--neutral-20);
}
.text-neutral-10 {
    color: var(--neutral-10);
}

.text-l-regular {
    font: var(--text-l-regular);
}
.text-l-medium {
    font: var(--text-l-medium);
}
.text-m-regular {
    font: var(--text-m-regular);
}
.text-m-medium {
    font: var(--text-m-medium);
}
.text-s-regular {
    font: var(--text-s-regular);
}
.text-s-medium {
    font: var(--text-s-medium);
}

.header-m {
    font: var(--header-m);
}

.header-s {
    font: var(--header-s);
}

.header-l {
    font: var(--header-l);
}

.icon-qty {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.my-shadow-1 {
    box-shadow: var(--shadow-1);
}
.my-shadow-2 {
    box-shadow: var(--shadow-2);
}
.my-shadow-3 {
    box-shadow: var(--shadow-3);
}

.my-rounded {
    border-radius: 30px;
}

.border-1 {
    !important
    border: 1px solid var(--neutral-60);
}

.my-rounded.rounded-start {
    border-radius: 30px 0 0 30px;
}

.my-rounded.rounded-end {
    border-radius: 0 30px 30px 0;
}

.my-rounded.rounded-top {
    border-radius: 30px 30px 0 0;
}

.my-rounded.rounded-end {
    border-radius: 0 0 30px 30px;
}





/* Component */
.sidebar {
    border-right: 2px solid var(--neutral-50);
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-body {
    font: var(--text-m-medium);
    padding: 20px 8px;
}

.sidebar-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--text-m-medium);
    padding: 2px 12px;
    margin: 3px 0;
}

.sidebar-menu .menu {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 6px 0 6px;
    cursor: pointer;
}

.sidebar-menu .menu span {
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 80%;
    max-width: 85%;
    height: 100%;
}

.sidebar-menu .sub-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 6px 0 0 42px;
    overflow: hidden;
}

.sidebar-menu .sub-menu.hide {
    display: none;
    overflow: hidden;
    animation: hide 3s;
}

.sidebar-menu .sub-menu a {
    color: var(--neutral-100);
    font: var(--text-m-regular);
    margin: 6px 0;
}

/* Animate */
@keyframes hide {
    from {display: none;}
    to {display: none;}
}